Source: czkeyboard
Section: user/other
Priority: optional
Maintainer: Jiri Benc <jbenc@upir.cz>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: keyboard-@@NAME@@
Architecture: all
Depends: gconf2
Description: @@DESC@@
 @@DESC@@
