Source: ukeyboard
Section: user/other
Priority: optional
Maintainer: Jiri Benc <jbenc@upir.cz>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: @@NAME@@
Architecture: all
Depends: gconf2
Description: @@TITLE@@
