Source: ukeyboard
Section: user/system
Priority: optional
Maintainer: Roman Moravcik <roman.moravcik@gmail.com>
Build-Depends: debhelper (>= 4.0.0), libosso-dev, libosso-gnomevfs2-dev, libhildonfm2-dev, hildon-control-panel-dev
Standards-Version: 3.6.1
Homepage: http://www.upir.cz/maemo/keyboards/
Vcs-Browser: http://repo.or.cz/w/ukeyboard.git
Vcs-Git: git://repo.or.cz/ukeyboard.git

Package: ukeyboard
Architecture: any
Depends: ${shlibs:Depends}
Description: Additional on-screen keyboard layouts
 This package provides additional Arabic, Belorussian, Bulgarian
 (BDS & Phonetic), Croatian (QWERTY & QWERTZ), English (Dvorak),
 Esperanto (QWERTY), Hebrew, Hungarian (QWERTZ), Slovak (QWERTY
 & QWERTZ) and Turkish on-screen keyboard layouts and Czech
 (QWERTY) and Slovak (QWERTY & QWERTZ) hardware keyboard layouts.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/
 AP+gvaeTAAAAsElEQVRIx+2W0QnDMBBDn0vmyEzOBMpo2cCZxEN4ketPE1ri
 0GActx8W3If0Izid4JyZ0QIPGqEbFWMAmOf51otYlsU5STZN0y6GEKjNARxg
 KSUAYox476nFNy2E0C4jANtGktXkmybJDhndldNHRnfk1DyjAWAcx12QxLtW
 yg9Gkg77XNe1mHvvs2a9R3V7dNaHq7jUo7M+XcXPe8TrOcnuNqd/m1xuZobr
 X9DfGz0B8vhEeEEXu0oAAAAASUVORK5CYII=

Package: ukbdcreator
Architecture: any
Section: user/utilities
Depends: ${shlibs:Depends}, ukeyboard (>= 1.7)
Description: Ukeyboard Creator
 Simple IDE for creating and testing on-screen keyboard layouts.
